
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <span class="icon">
            <i class="fas fa-home"></i>
        </span>
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item has-text-primary">
          Home
        </a>
  
        <a class="navbar-item has-text-primary">
          Create Event
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link has-text-primary">
            About App
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Jobs
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">

        <div *ngIf="!loggedIn; else logout">
            <form #login = "ngForm" (ngSubmit) = "onClickSubmit(login.value)" class="navbar-item">

                <div class="navbar-item">
                    <p class="control has-icons-left">
                            <input class="input is-rounded has-text-primary" type="text" name = "emailid" placeholder="Email" ngModel required email>
                    <span class="icon is-small is-left">
                        <i class="fas fa-at"></i>
                    </span>
                    </p>   
                    <!-- <input class="input is-rounded" type="text" name = "emailid" placeholder="Email" ngModel required email> -->
                </div>

                <div class="navbar-item">
                                <p class="control has-icons-left">
                                        <input class="input is-rounded has-text-primary" type="password" name = "passwd" placeholder="Password" ngModel required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                                </p>   
                        <!-- <input class="input is-rounded" type="password" name = "passwd" placeholder="Password" ngModel required> -->
                </div>

                <div class="navbar-item">
                <!-- <div class="buttons"> -->
                    <!-- <a class="button is-primary">
                    <strong>Sign up</strong>
                    </a> -->
                    <button class="button is-primary is-rounded" type="submit" value = "submit" [disabled]="!login.valid">
                        <strong>Login</strong>
                    </button>
                <!-- </div> -->
                </div>
            </form>
        </div>

        <ng-template #logout>
            <div class="navbar-item">
                <button type="button" class="button is-primary is-rounded">
                    <strong>Logout</strong>
                </button>
            </div>
        </ng-template>

      </div>
    </div>
  </nav>



            <!--HERO BANNER-->
<section class="hero is-small is-primary is-bold">
    <div class="hero-body">
        <div class="container">
        <h1 class="title is-1 has-text-black">
            Festival App
        </h1>
        </div>
    </div>
</section>


<app-create-event></app-create-event>


<!-- 
<section class="section">
        <div class="container">
             Start Carousel -->
            <!-- <div id="carousel-demo" class="carousel">
                <div class="item-1">
                        <div class="column">
                                <div class="card large">
                                    <div class="card-image">
                                        <figure class="image">
                                            <img src="https://i.imgsafe.org/a5/a5e978ce20.jpeg" alt="Image">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-left">
                                                <figure class="image is-96x96">
                                                    <img src="http://www.radfaces.com/images/avatars/alex-mack.jpg" alt="Image">
                                                </figure>
                                            </div>
                                            <div class="media-content">
                                                <p class="title is-4">Prototyp3</p>
                                                <p class="subtitle is-6">Moderator</p>
                                            </div>
                                        </div>
                                        <div class="content">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum consequatur numquam aliquam tenetur ad amet inventore hic beatae, quas accusantium perferendis sapiente explicabo, corporis totam! Labore reprehenderit beatae magnam animi!
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
                <div class="item-2">
                        <div class="column">
                                <div class="card large">
                                    <div class="card-image">
                                        <figure class="image">
                                            <img src="https://i.imgsafe.org/a5/a5e978ce20.jpeg" alt="Image">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-left">
                                                <figure class="image is-96x96">
                                                    <img src="http://www.radfaces.com/images/avatars/alex-mack.jpg" alt="Image">
                                                </figure>
                                            </div>
                                            <div class="media-content">
                                                <p class="title is-4">Prototyp3</p>
                                                <p class="subtitle is-6">Moderator</p>
                                            </div>
                                        </div>
                                        <div class="content">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum consequatur numquam aliquam tenetur ad amet inventore hic beatae, quas accusantium perferendis sapiente explicabo, corporis totam! Labore reprehenderit beatae magnam animi!
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
                <div class="item-3">
                        <div class="column">
                                <div class="card large">
                                    <div class="card-image">
                                        <figure class="image">
                                            <img src="https://i.imgsafe.org/a5/a5e978ce20.jpeg" alt="Image">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-left">
                                                <figure class="image is-96x96">
                                                    <img src="http://www.radfaces.com/images/avatars/alex-mack.jpg" alt="Image">
                                                </figure>
                                            </div>
                                            <div class="media-content">
                                                <p class="title is-4">Prototyp3</p>
                                                <p class="subtitle is-6">Moderator</p>
                                            </div>
                                        </div>
                                        <div class="content">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum consequatur numquam aliquam tenetur ad amet inventore hic beatae, quas accusantium perferendis sapiente explicabo, corporis totam! Labore reprehenderit beatae magnam animi!
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
             End Carousel --> 
        <!-- </div>
    </section> --> 






<!-- <div class="column is-one-third" *ngFor="let event of events">
        <div class="card large round">
            <header class="card-header">
                <p class="card-header-title is-centered">
                        {{event.name}}
                </p>
            </header>
            <div class="card-image ">
                <figure class="image">
                    <img src="https://source.unsplash.com/Jy6luiLBsrk" alt="Image">
                </figure>
            </div>
            <div class="card-content">
               <div class="columns">
                    <div class="column ">
                        <p>{{event.start + ' - ' + event.end}}</p>   
                    </div>
                    <div class="column">
                    </div>
                    <div class="column is-pulled-right">
                        <p class="column is-pulled-right">{{event.location}}</p>
                    </div>
               </div>
                
                <div class="content">
                    {{event.desc}}
                </div>
            </div>
        </div>
    </div> -->




<!--FDSSDFKLJSDKLFJSDLKFJKLSDJFKLJSDKLFJLKSDFJLKSDJFLKSJDLFjkl-->


    <div class="row columns is-multiline">


            <div class="column is-one-third" *ngFor="let event of events">
                <div class="card large round">
                    <header class="card-header">
                        <p class="card-header-title is-centered">
                                {{event.name}}
                        </p>
                    </header>
                    <div class="card-image ">
                        <figure class="image">
                            <img src="https://source.unsplash.com/Jy6luiLBsrk" alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                       
                        
                        <div class="content">
                            {{event.desc}}
                        </div>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item is-pulled-left">{{event.start + ' - ' + event.end}}</p>  
                        <p class="card-footer-item is-pulled-right">{{event.location}}</p>
                    </footer>
                </div>
            </div>
        




            <div class="column is-one-third">
                <div class="card large">
                    <div class="card-image">
                        <figure class="image">
                            <img src="https://source.unsplash.com//Rfflri94rs8" alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="http://www.radfaces.com/images/avatars/richard-wang.jpg" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4 no-padding">Sphirou Sapphirou</p>
                                <p><span class="title is-6"><a href="http://twitter.com/#">@twitterid</a></span></p>
                                <p class="subtitle is-6">Moderator</p>
                            </div>
                        </div>
                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum consequatur numquam aliquam tenetur ad amet inventore hic beatae, quas accusantium perferendis sapiente explicabo, corporis totam! Labore reprehenderit beatae magnam animi!
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card large">
                    <div class="card-image">
                        <figure class="image">
                            <img src="https://source.unsplash.com/b6VzeoRZiS0" alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="http://www.radfaces.com/images/avatars/jeffrey-douglas.jpg" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4 no-padding">PlayTheFallen</p>
                                <p><span class="title is-6"><a href="http://twitter.com/#">@twitterid</a></span></p>
                                <p class="subtitle is-6">Moderator</p>
                            </div>
                        </div>
                        <div class="content">
                            Sometimes I dip my nose into my cereals. I do it coz it's funny.
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card large">
                    <div class="card-image">
                        <figure class="image">
                            <img src="https://i.imgsafe.org/a4/a4bda71ae4.jpeg" alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="http://www.radfaces.com/images/avatars/scrappy-doo.jpg" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4 no-padding">FelixCAT</p>
                                <p><span class="title is-6"><a href="http://twitter.com/#">@twitterid</a></span></p>
                                <p class="subtitle is-6">Moderator</p>
                            </div>
                        </div>
                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum consequatur numquam aliquam tenetur ad amet inventore hic beatae, quas accusantium perferendis sapiente explicabo, corporis totam! Labore reprehenderit beatae magnam animi!
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card large">
                    <div class="card-image">
                        <figure class="image">
                            <img src="https://source.unsplash.com/ogYIzsNGu3Y" alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="http://www.radfaces.com/images/avatars/scrappy-doo.jpg" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4 no-padding">ScoobyDOG</p>
                                <p><span class="title is-6"><a href="http://twitter.com/#">@twitterid</a></span></p>
                                <p class="subtitle is-6">Moderator</p>
                            </div>
                        </div>
                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum consequatur numquam aliquam tenetur ad amet inventore hic beatae, quas accusantium perferendis sapiente explicabo, corporis totam! Labore reprehenderit beatae magnam animi!
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card large">
                    <div class="card-image">
                        <figure class="image">
                            <img src="https://source.unsplash.com/KgjcndVr7tU" alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="http://www.radfaces.com/images/avatars/scrappy-doo.jpg" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                    <p class="title is-4 no-padding">Scrappy Doo</p>
                                    <p><span class="title is-6"><a href="http://twitter.com/#">@twitterid</a></span></p>
                                    <p class="subtitle is-6">Moderator</p>
                                </div>
                        </div>
                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum consequatur numquam aliquam tenetur ad amet inventore hic beatae, quas accusantium perferendis sapiente explicabo, corporis totam! Labore reprehenderit beatae magnam animi!
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card large">
                    <div class="card-image">
                        <figure class="image">
                            <img src="https://i.imgsafe.org/a5/a5e978ce20.jpeg" alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="http://www.radfaces.com/images/avatars/alex-mack.jpg" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">Prototyp3</p>
                                <p class="subtitle is-6">Moderator</p>
                            </div>
                        </div>
                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum consequatur numquam aliquam tenetur ad amet inventore hic beatae, quas accusantium perferendis sapiente explicabo, corporis totam! Labore reprehenderit beatae magnam animi!
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card large">
                    <div class="card-image">
                        <figure class="image">
                            <img src="https://source.unsplash.com/Gnxquq4oYQc" alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="http://www.radfaces.com/images/avatars/alex-mack.jpg" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4 no-padding">Alex Mack</p>
                                <p><span class="title is-6"><a href="http://twitter.com/#">@twitterid</a></span></p>
                                <p class="subtitle is-6">Moderator</p>
                            </div>
                        </div>
                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum consequatur numquam aliquam tenetur ad amet inventore hic beatae, quas accusantium perferendis sapiente explicabo, corporis totam! Labore reprehenderit beatae magnam animi!
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card large">
                    <div class="card-image">
                        <figure class="image">
                            <img src="https://source.unsplash.com/qbtyUQtqJ8k" alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="http://www.radfaces.com/images/avatars/alex-mack.jpg" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">Alex Mack</p>
                                <p class="subtitle is-6">Moderator</p>
                            </div>
                        </div>
                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum consequatur numquam aliquam tenetur ad amet inventore hic beatae, quas accusantium perferendis sapiente explicabo, corporis totam! Labore reprehenderit beatae magnam animi!
                        </div>
                    </div>
                </div>
            </div>
        </div>